Package: com.newwares.badgesync
Name: BadgeSync
Version: 1.1.0
Architecture: iphoneos-arm
Description: Syncs icon badge values when notifications are dismissed from the notification centre.
Maintainer: newwares
Author: newwares
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 16.0)
