Package: com.newwares.badgesync
Name: BadgeSync
Version: 1.1.2
Architecture: iphoneos-arm
Description: Syncs icon badge values when notifications are dismissed from the notification centre.
Maintainer: newwares
Author: newwares
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
